<!-- templates/partials/header.html -->
<header>
    <div class="container header-content">
        <div class="logo">
            <i class="fas fa-chess-king logo-icon"></i>
            <h1>Краљев гамбит<span> Бач</span></h1>
        </div>
        <button class="mobile-menu-btn" id="mobileMenuBtn">
            <i class="fas fa-bars"></i>
        </button>
        <nav id="mainNav">
            <ul>
                <li><a href="#players">Наши играчи</a></li>
                <li><a href="#tournaments">Турнири</a></li>
                <li><a href="#league">Јужнобачка лига</a></li>
                <li><a href="#about">О нама</a></li>
                <li><a href="#contact">Контакт</a></li>
            </ul>
        </nav>
    </div>
</header>