<!-- templates/partials/header.html -->
<header>
    <div class="container header-content">
        <div class="logo">
            <i class="fas fa-chess-king logo-icon"></i>
            <h1>Краљев гамбит<span> Бач</span></h1>
        </div>
        <button class="mobile-menu-btn" id="mobileMenuBtn">
            <i class="fas fa-bars"></i>
        </button>
        <nav id="mainNav">
            <ul>
                <li><a href="{% url 'home' %}#about">О нама</a></li>
                <li><a href="{% url 'home' %}#news">Вести</a></li>
                <li><a href="{% url 'home' %}#tournaments">Турнири</a></li>
                <li><a href="{% url 'home' %}#league">Лига</a></li>
                <li><a href="{% url 'home' %}#players">Наши играчи</a></li>
                <li><a href="{% url 'home' %}#contact">Контакт</a></li>
            </ul>
        </nav>
    </div>
</header>